@import url(//db.onlinewebfonts.com/c/3907276073752a03016016622e01a154?family=Cassannet+Regular);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

input, button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #adafaea2;
}
 

