@import url(//db.onlinewebfonts.com/c/3907276073752a03016016622e01a154?family=Cassannet+Regular);
 
.FrontPage{
    align-items: center;
    justify-content: center;
    display: flex;
    display: block;
    position: absolute;
    background: url(../Images/FrontPageBackground3.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

.FrontPageLogo img{
    margin-top: 100px;
    width: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.h2_1 h2{
    font-size: 30px;
    font-family: "Cassannet Regular"; src: url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.eot"); src: url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.eot?#iefix")
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.svg#Cassannet Regular") format("svg"); 
    font-weight: 550; 
    padding: 10px 10px;   
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    display: block;
    top: 100px;
    margin-left: 60%;
    color: #0f7aab;
}


.h2_2 h2{
    font-size: 30px;
    font-family: "Cassannet Regular"; src: url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.eot"); src: url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.eot?#iefix")
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.svg#Cassannet Regular") format("svg"); 
    font-weight: 550; 
    padding: 10px 10px;   
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    display: block;
    top: 100px;
    margin-left: 80%;
    color: #0f7aab;
}

.Parent img{
    max-width:15%;
    max-height:15%;
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
  }

.ParentWord{
    top: 80%;
    left: 47%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    font-family: cursive;
    font-size: 24px;
 }

.Admin img{
    max-width:14%;
    max-height:14%;
    position:absolute;
    top:70%;
    left:75%;
    transform:translate(-50%,-50%);
  }

.AdminWord{
    top: 80%;
    left: 72%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    font-family: cursive;
    font-size: 24px;
 }
