
form{
    display: block;
    position: relative;
    top: -200px;
}


form .form-inner h2{
    color: #17202A;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: flex;    
}

form .form-inner .form-group{
    display: block;
    width: 250px;
    margin-bottom: 15px;
    margin-top: 10px;        
}

.form-inner .form-group label{
    display: block;
    color: #17202A;
    font-size: 14px;
    margin-bottom: 5px;
    transition: 0.4s;    
}


.form-inner .form-group:focus-within label{
    color: #515A5A;
}

form .form-inner .form-group input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color:  #adafaea2;
    border-radius: 3px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 10px black (0,0,0,0.2);
}
      
form .form-inner input[type="submit"]{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #2ECC71 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #17202A;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    bottom: -50px;
    right: 0px;
}


.error{
    color: #C0392B;
}