@import url(//db.onlinewebfonts.com/c/3907276073752a03016016622e01a154?family=Cassannet+Regular);

.UserFrontPage{
    align-items: center;
    justify-content: center;
    display: flex;
    display: block;
    background: url(../Images/UserFrontPageBackground2.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

.UserFrontPageLogo{
    text-align: justify;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);  
    margin-left: -150px;
}

.UserFrontPageLogo img{
    margin-top: 80px;
    width: 100px;
    display: block;
    margin-left: 70%;
  }

.UserFrontPage h2{
    font-size: 30px;
    font-family: "Cassannet Regular"; src: url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.eot"); src: url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.eot?#iefix")
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.svg#Cassannet Regular") format("svg"); 
    font-weight: 500;  
    color: #00004d;
    top: 200px;
    margin-left: 35%;
}
.UserFrontPage .Login{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #17202A;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 300px;
    margin-left: 50%;
}

.UserFrontPage .AdminLogin{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #17202A;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 300px;
    margin-left: 49%;
}

.UserFrontPage .Signup{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #17202A;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 400px;
    margin-left: 50%;
}


.UserFrontPage .AdminSignup{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #17202A;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 400px;
    margin-left: 49%;
}
