@import url(//db.onlinewebfonts.com/c/3907276073752a03016016622e01a154?family=Cassannet+Regular);

.UserFrontPage{
    align-items: center;
    justify-content: center;
    display: flex;
    display: block;
    background: url(../Images/UserFront2.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
}

.UserFrontPageLogo{
    text-align: justify;
    position: absolute;
    width: 700px;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);  
    margin-left: -50px;
}

.UserFrontPageLogo img{
    margin-top: 80px;
    width: 100px;
    display: block;
    margin-left: 50%;
  }

.UserFrontPage h2{
    font-size: 30px;
    font-family: "Cassannet Regular"; 
    font-weight: 500;  
    color: #00004d;
    top: 200px;
    margin-left: 50%;
}
.UserFrontPage .Login button{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 25px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 280px;
    margin-left: 50%;
    left: -100px;
    width: 200px;
    height: 32px;
    text-align: center;
    transform: translate(0%,50%);
    position: absolute;
}

.UserFrontPage .Login button:hover{
    background-color: #fff;
    color: #5499C7;
    border: 2px solid;
}

.UserFrontPage .AdminLogin button{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 25px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 280px;
    margin-left: 50%;
    left: -100px;
    width: 200px;
    height: 32px;
    text-align: center;
    transform: translate(0%,50%);
    position: absolute;
}

.UserFrontPage .AdminLogin button:hover{
    background-color: #fff;
    color: #5499C7;
    border: 2px solid;
}

.UserFrontPage .UserFrontOr p{
    align-items: center;
    justify-self: center;
    position: absolute;
    color: black;
    top: 355px;
    left: -94px;
    transition: 0.4s;
    margin-left: 50%;
    display: block;
    transform: translate(0%,50%);
    color: #00004d;
    opacity: 0.3;
}

.UserFrontPage .Signup button{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 25px;
    background-color: #fff ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color:  #5499C7;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    top: 400px;
    margin-left: 50%;
    left: -100px;
    border:#5499C7 ;
    border-style: solid;
    border-width: 2px;
    width: 200px;
    text-align: center;
    transform: translate(0%,50%);
    height: 33px;
}

.UserFrontPage .Signup button:hover{
    background-color: #5499C7;
    color: #fff;
    border: none;
}
    


.UserFrontPage .AdminSignup button{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 25px;
    background-color: #fff ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color:  #5499C7;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    top: 400px;
    margin-left: 50%;
    left: -100px;
    border:#5499C7 ;
    border-style: solid;
    border-width: 2px;
    width: 200px;
    text-align: center ;
    transform: translate(0%,50%);
    height: 33px;
}

.UserFrontPage .AdminSignup button:hover{
    background-color: #5499C7;
    color: #fff;
    border: none;
}    

.UserFrontPageLogo2{
    text-align: justify;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);  
    margin-left: -250px;
}

.UserFrontPageLogo2 img{
    margin-top: 70px;
    width: 500px;
    display: block;
    margin-left: 50%;
  }