@import url(//db.onlinewebfonts.com/c/3907276073752a03016016622e01a154?family=Cassannet+Regular);

.UserFrontPage{
    display: block;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

.UserFrontPage .Login{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #17202A;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 350px;
    margin-right: -50px;
}


.UserFrontPage .AdminLogin{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #17202A;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 350px;
    margin-right: 0px;
}

.UserFrontPage .Signup{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #17202A;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 260px;
    margin-right: -50px;
}


.UserFrontPage .AdminSignup{
    display: inline-block;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #5499C7 ;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #17202A;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 260px;
    margin-right: -40px;
}

.UserFrontPage img{
    padding: 60px 20px; 
    width: 35%;
    align-items: center;
    justify-content: center;
    display: flex;
 }

.UserFrontPage h2{
    font-size: 30px;
    font-family: "Cassannet Regular"; src: url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.eot"); src: url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.eot?#iefix")
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3907276073752a03016016622e01a154.svg#Cassannet Regular") format("svg"); 
    font-weight: 500;  
    color: #0f7aab;
}