.AdminHome{
    background: url(../Images/Background.jpg) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    position: absolute;
}

.AdminHomeAlign{
    transform: translate(0%,50%);
    margin-top: 80px;
}

.AdminHome h1{
    transform: translate(0%,50%);
    margin-left: 40%;
    margin-top:0px;
    left: -50px;
    position: absolute;
    font-size: 30px;
    color: #00004d;
}

.QrReader{
       transform: translate(0%,50%);
       margin-top: -100px;
       margin-left: 40%;
       left: -138px;
       width: 350px;
       position: absolute;

   }

.AdminHome h2{
    transform: translate(0%,50%);
    margin-left: 40%;
    margin-top: 440px;
    left: -140px;
    position: absolute;
    font-size: 20px;
}

