.Home{
    background: url(../Images/Background.jpg) no-repeat center fixed;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    display: block;
   }

.QRcode{
    text-align: justify;
    position: absolute;
    display: block;
    cursor: pointer;
    width: 700px;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%);  
    margin-left: -50px;
}

.QRcode h2{
    font-size: 30px;
    font-weight: 500;  
    color: #00004d;
    top: 100px;
    margin-left: 33%;
    position: absolute;
    left: 60px;
    transform: translate(-50%,-50%);  

}

.QRcode img{
    margin-top: 240px;
    width: 250px;
    left: 60px;
    margin-left: 33%;
    position: absolute;
    transform: translate(-50%,-50%);  

  }

.QRcode .QRdownload{
    font-size: 14px;
    font-family: "Cassannet Regular"; 
    text-align: justify;
    font-weight: 600px;  
    color: #fff;
    background-color: #1A5276;
    top: 530px;
    margin-left: 33%;
    left: 60px;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 25px;  
    width: 15rem;
}

.QRcode .QRdownload:hover{
    color: #1A5276;
    background-color: #fff;
    font-weight: 600px;  
    border-color: #1A5276;
    border: solid;

}

.QRcode .qrButton{
    font-size: 14px;
    font-family: "Cassannet Regular"; 
    text-align: justify;
    font-weight: 500;  
    color: #fff;
    top: 600px;
    margin-left: 26%;
    left: 150px;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 25px;  

    display: ;
}

.QRcode .qrTextField{
    top: 575px;
    position: absolute;

    display: ;
}